.container {
  width: 100vw;
  height: 100vh;
  background: url('https://img-baofun.zhhainiao.com/pcwallpaper_ugc_mobile/live/9a76f712530785b133e54592eaf57b7e_preview_mid.jpg')
    no-repeat 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .content {
    border: 2px solid #fff;
    border-radius: 10px;
    color: #fff;
    padding: 24px;
  }
}
